<h5>
	<div class="alert alert-<%= addClass %>"><%= message %></div>
</h5>

<% if names.present? %>
	<small class="h6">
		<table class="table table-striped table-condensed">
			<thead>
				<th>Domain</th>
				<th>Status</th>
				<th>Period</th>
				<td>Price</td>
				<th>Action</th>
			</thead>
			<tbody>
				<% counter = 0 %>
				<% names.each do |name| %>
					<tr>
						<th class="text-left bg-secondary text-white"><%= name %></th>
						<td>
							<span class="badge badge-success">available</span>
						</td>
						<td>
							<select class="duration" id="duration_<%= counter %>" data-counter="<%= counter %>" >
								<option value="1">1 year</option>
								<option value="2">2 years</option>
								<option value="5">5 years</option>
								<option value="10">10 years</option>
							</select>
						</td>
						<td>
							<h5>$ <strong class="price" id="price_<%= counter %>">35.00</strong></h5>
						</td>
						<td>
							<a href="javascript:void(0)" class="btn btn-sm btn-primary buy_now" data-counter="<%= counter %>" data-domain="<%= name %>">Buy Now</a>
						</td>
						<% counter += 1 %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</small>
<% end %>