<div class="container p-5 shadow mt-5">
	<div class="container text-center">
		<img src="http://www.drivingschoolexperts.com/wp-content/themes/reliqus-drivingschoolexpert/images/payment-successful.png">
	</div>
	<h1>Order Success!</h1>
	<h6 class="float-right">Payment ID: <%= @payment.payment_id %></h6>
	<table class="table table-striped">
		<thead>
			<th>Domain name</th>
			<th>Period</th>
			<th>Price</th>
		</thead>
		<tbody>
			<tr>
				<th class="h5"><%= @domain.name %></th>
				<td><%= @domain.period + " year(s)" %></td>
				<td><%= "$ #{((@domain.period).to_i * 35)}.00" %></td>
			</tr>
		</tbody>
		<tfoot>
			<th colspan="2" class="text-right">TOTAL</th>
			<td><%= "$ #{((@domain.period).to_i * 35)}.00" %></td>
		</tfoot>
	</table>
	<h5>Registrant Details</h5>
	<hr/>
	<p>
		<tr>
			<td><strong>ADDRESS:</strong></td>
			<td><%= @user.registrant.address %></td>
		</tr>
	</p>
	<p>
		<tr>
			<td><strong>CONTACT NUMBER:</strong></td>
			<td><%= @user.registrant.contact_number %></td>
		</tr>
	</p>
	<div class="container text-center">
		<div class="col-lg-6 m-auto">
			<a href="/" class="btn btn-lg btn-primary btn-block py-4">Confirm Payment</a>
		</div>
	</div>
</div>